table.dataframe tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

table.dataframe th {
	text-align: center;
	border: 0px solid black;
	padding: 4px;
}
table.dataframe td {
	text-align: center;
	border: 0px solid black;
	padding: 4px;
}

table.dataframe {
    border-collapse: collapse;
	border: 0px solid black;
}

table.dataframe thead{
    background-color: darkblue;
    color: white;
}